DB_NAME=wordpress
DB_USER=wordpress
DB_PASSWORD=wordpress
DB_ROOT_PASSWORD=wordpress

SITE_HOST=localhost
SITE_STAGE=local

DEPLOY_USER=user
DEPLOY_HOST=hello.world
DEPLOY_SSH_PRIVATE_KEY=
DEPLOY_CHECKOUT_GH_TOKEN=