DB_NAME=wordpress
DB_USER=wordpress
DB_PASSWORD=wordpress
DB_ROOT_PASSWORD=wordpress

SITE_HOST=localhost
SITE_STAGE=local
SITE_DEBUG=true

DEPLOY_USER=user
DEPLOY_HOST=hello.world
DEPLOY_SSH_PRIVATE_KEY=
DEPLOY_CHECKOUT_GH_TOKEN=ghp_...

# https://one.dash.cloudflare.com/
# Settings -> Team name
CLOUDFLARE_ORGANIZATION=
# Access controls -> Service credentials -> Service Tokens -> <token name> -> Edit (or create new if you need the secret)
CLOUDFLARE_AUTH_CLIENT_ID=....access
CLOUDFLARE_AUTH_CLIENT_SECRET=
