DB_NAME=wordpress
DB_USER=wordpress
DB_PASSWORD=wordpress
DB_ROOT_PASSWORD=wordpress

SITE_HOST=localhost
SITE_STAGE=local

DEPLOY_USER=user
DEPLOY_HOST=hello.world
DEPLOY_SSH_PRIVATE_KEY=
DEPLOY_CHECKOUT_GH_TOKEN=ghp_...

CLOUDFLARE_TUNNEL_TOKEN=ey...
CLOUDFLARE_ORGANIZATION=
CLOUDFLARE_AUTH_CLIENT_ID=....access
CLOUDFLARE_AUTH_CLIENT_SECRET=
