@layer base {
	[data-orchestrator] {
		position: relative;
		overflow: clip;

		& [data-orchestrator-canvas] {
			display: block;
			height: 100lvh;
			width: 100%;
			position: fixed;
			inset: 0;
		}
	}
}
