
# BEGIN CompressX
# The directives (lines) between "BEGIN CompressX" and "END CompressX" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} original$
RewriteRule . - [L]

# AVIF
RewriteCond %{DOCUMENT_ROOT}/wp-content/compressx-nextgen/$1.$2 -f
RewriteRule ^(?:.*wp-content/)?(.+)\.(avif)$ /wp-content/compressx-nextgen/$1.$2 [T=image/avif,L]

# WebP
RewriteCond %{DOCUMENT_ROOT}/wp-content/compressx-nextgen/$1.$2 -f
RewriteRule ^(?:.*wp-content/)?(.+)\.(webp)$ /wp-content/compressx-nextgen/$1.$2 [T=image/webp,L]

# JPG/PNG → AVIF
RewriteCond %{HTTP_ACCEPT} image/avif
RewriteCond %{DOCUMENT_ROOT}/wp-content/compressx-nextgen/$1.$2.avif -f
RewriteRule ^(?:.*wp-content/)?(.+)\.(jpe?g|png)$ /wp-content/compressx-nextgen/$1.$2.avif [T=image/avif,L]

# JPG/PNG → WebP
RewriteCond %{HTTP_ACCEPT} image/webp
RewriteCond %{DOCUMENT_ROOT}/wp-content/compressx-nextgen/$1.$2.webp -f
RewriteRule ^(?:.*wp-content/)?(.+)\.(jpe?g|png)$ /wp-content/compressx-nextgen/$1.$2.webp [T=image/webp,L]

</IfModule>
<IfModule mod_headers.c>
<FilesMatch "(?i)\.(jpg|png|webp|jpeg)(\.(webp|avif))?$">
Header always set Cache-Control "private"
Header append Vary "Accept"
</FilesMatch>
</IfModule>
# END CompressX