/* stylelint-disable no-invalid-position-declaration */
@theme static {
	--font-display: o, sans-serif;
	--font-pairing: m, serif;
	--font-sans: 'Outfit', 'Space Grotesk', sans-serif;
	--font-mono: 'Space Mono', monospace;

	--vw-pt: 1440;
	--vh-pt: 720;
	--pt-px: calc(clamp(0.875rem, calc(1.145lvw * 2 - (22px)), 1rem) / 16);

	--text-xs: calc(10 * var(--pt-px));
	--text-sm: calc(14 * var(--pt-px));
	--text-base: calc(16 * var(--pt-px));
	--text-md: calc(18 * var(--pt-px));
	--text-lg: calc(20 * var(--pt-px));
	--text-xl: calc(24 * var(--pt-px));
	--text-2xl: calc(32 * var(--pt-px));
}

/* scaffolding */
@layer base {
	body {
		font-size: var(--text-base);
		font-weight: var(--font-weight-normal);
		line-height: var(--leading-normal);
		letter-spacing: var(--tracking-normal);
	}

	:root {
		font-synthesis: none;
	}
}

/* body */
@theme static {
	--weight-pt: 500;
	--size-pt: 16;
	--leading-pt: 28;
	--tracking-pt: -0.1;

	--text-base: calc(var(--size-pt) * var(--pt-px));
	--leading-normal: calc(var(--leading-pt) / var(--size-pt));
	--font-weight-normal: calc(var(--weight-pt));
	--tracking-normal: calc((var(--tracking-pt) / var(--size-pt)) * 1em);
}

@layer base {
	body {
		font-family: var(--font-sans);
		font-style: normal;
	}
}

@utility -h {
	font-size: calc(
		clamp(
			var(--size-pt) * var(--pt-px),
			(var(--size-pt) / var(--vw-pt)) * 100lvw,
			(var(--size-pt) / var(--vh-pt)) * 100lvh
		)
	);
	line-height: calc(var(--leading-pt) / var(--size-pt));
	font-weight: calc(var(--weight-pt));
	letter-spacing: calc((var(--tracking-pt) / var(--size-pt)) * 1em);
}

/* button */
@utility hb {
	@apply -h;

	--weight-pt: 600;
	--size-pt: 16;
	--leading-pt: 18;
	--tracking-pt: 0;

	font-family: var(--font-sans);
	font-style: italic;
	font-size: var(--text-base);
}

/* headings */
@utility h1 {
	@apply -h;

	--weight-pt: 700;
	--size-pt: 120;
	--leading-pt: 72;
	--tracking-pt: -4;

	@media (width < 768px) {
		--size-pt: 60;
		--leading-pt: 40;
		--tracking-pt: -2;
	}

	font-family: var(--font-display);
	font-style: normal;
}

@utility h2 {
	@apply -h;

	--weight-pt: 600;
	--size-pt: 60;
	--leading-pt: 60;
	--tracking-pt: -1;

	@media (width < 768px) {
		--size-pt: 40;
		--leading-pt: 28;
		--tracking-pt: 0;
	}

	font-family: var(--font-pairing);
	font-style: normal;
}

@utility h3 {
	@apply -h;

	--weight-pt: 600;
	--size-pt: 35;
	--leading-pt: 35;
	--tracking-pt: 0;

	@media (width < 768px) {
		--size-pt: 30;
		--leading-pt: 20;
		--tracking-pt: 0;
	}

	font-family: var(--font-pairing);
	font-style: normal;
}

@utility h4 {
	@apply -h;

	--weight-pt: 500;
	--size-pt: 20;
	--leading-pt: 20;
	--tracking-pt: 0;

	font-family: var(--font-pairing);
	font-style: normal;
}

@utility h5 {
	@apply -h;

	--weight-pt: 600;
	--size-pt: 16;
	--leading-pt: 16;
	--tracking-pt: 0;

	font-family: var(--font-pairing);
	font-style: normal;
}

@utility h6 {
	@apply -h;

	--weight-pt: 600;
	--size-pt: 16;
	--leading-pt: 16;
	--tracking-pt: 0;

	font-family: var(--font-pairing);
	font-style: normal;
}

@utility hm {
	@apply -h;

	--weight-pt: 600;
	--size-pt: 14;
	--leading-pt: 16;
	--tracking-pt: 0;

	font-family: var(--font-mono);
	font-style: normal;
	text-transform: uppercase;
}
