
# BEGIN CompressX
# The directives (lines) between "BEGIN CompressX" and "END CompressX" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} original$
RewriteRule . - [L]

# AVIF
RewriteCond %{DOCUMENT_ROOT}/wp-content/compressx-nextgen/uploads/$1.$2 -f
RewriteRule ^(?:.*wp\-content\/uploads/)?(.+)\.(avif)$ /wp-content/compressx-nextgen/uploads/$1.avif [T=image/avif,L]

# WebP
RewriteCond %{DOCUMENT_ROOT}/wp-content/compressx-nextgen/uploads/$1.$2 -f
RewriteRule ^(?:.*wp\-content\/uploads/)?(.+)\.(webp)$ /wp-content/compressx-nextgen/uploads/$1.webp [T=image/webp,L]

# JPG/PNG → AVIF
RewriteCond %{HTTP_ACCEPT} image/avif
RewriteCond %{DOCUMENT_ROOT}/wp-content/compressx-nextgen/uploads/$1.$2.avif -f
RewriteRule ^(?:.*wp\-content\/uploads/)?(.+)\.(jpe?g|png)$ /wp-content/compressx-nextgen/uploads/$1.$2.avif [T=image/avif,L]

# JPG/PNG → WebP
RewriteCond %{HTTP_ACCEPT} image/webp
RewriteCond %{DOCUMENT_ROOT}/wp-content/compressx-nextgen/uploads/$1.$2.webp -f
RewriteRule ^(?:.*wp\-content\/uploads/)?(.+)\.(jpe?g|png)$ /wp-content/compressx-nextgen/uploads/$1.$2.webp [T=image/webp,L]

</IfModule>
# END CompressX